<div class="blog-list">
    <ng-container *ngFor="let blog of blogList$ | async">
        <hr>
        <article class="blog-item">
            <h3>
                <a [routerLink]="['/blog', blog.id]" title="Read more about {{ blog.title }}">
                    {{ blog.title }}
                </a>
            </h3>
            <h4>{{ blog.author }}</h4>
            <p>{{ blog.description }}</p>
            <a [routerLink]="['/edit-blog', blog.id]" title="Edit">
                Edit
            </a>
            <button (click)="deleteBlog(blog.id)" title="Delete">
                delete
            </button>
        </article>
    </ng-container>
</div>
